<?xml version="1.0" encoding="UTF-8"?>
<launch>

<arg name="world_odom" default="false"/> <!-- true, false -->

<!-- Load joint controller configurations -->
<rosparam file="$(find weed_robot_gazebo)/config/controller.yaml" command="load"/>

<group if="$(eval world_odom)">
  <rosparam param="ackermann_steering_controller/enable_odom_tf">false</rosparam>
</group>

<!-- load the controllers -->
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" 
        args="ackermann_steering_controller joint_state_controller"/>

<!-- rosrun teleop_twist_keyboard teleop_twist_keyboard.py cmd_vel:=/ackermann_steering_controller/cmd_vel -->

</launch>